<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - FOODEE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="~/css/Cart.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">

            <div class="container">
                <a asp-controller="MenuItem" asp-action="IndexAnonymous"><img src="~/images/foodeeLogo.jpg" /></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @*<li id="home-menu" class="nav-item ml-4 font-weight-bold">
                    <a class="nav-link" style="color:orange" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                </li>*@
                    </ul>
                </div>
                @*<a style="color: black" asp-controller="Cart" asp-action="ViewCart"><i class="fas fa-shopping-cart"></i></a>*@
                <a style="color:  orangered" class="nav-link font-italic font-weight-bold" asp-controller="Auth" asp-action="Login">Sign In <i class="fas fa-sign-in-alt"></i></a>

                <a style="color:  black" class="nav-link font-italic font-weight-bold" asp-controller="Auth" asp-action="Register">Sign Up <i class="fas fa-sign-in-alt"></i></a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - FOODEE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/shoppingcart.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
