@model FOODEE.Models.Order
@{
    Layout = "_CustomerDashboardLayout";
}

@{
    ViewBag.Title = "CheckOut";
}
<div class="card-header text-center tex-white ">
    <h5 class="text-success ">CheckOut</h5>
</div>
<div class="row">
    <div class="col-lg">
        <div class="" style="font-size: 1px">
            <h2 style="color:black; font-size:20px; font-family:'Times New Roman'"><em>UserName:</em></h2>
            <h5 style="width: max-content">@ViewBag.UserName</h5>
        </div>
        <div class="" style="font-size: 20px">
            <h2 style="color:black; font-size:20px; font-family:'Times New Roman'"><em>Email</em></h2>
            <h5 style="width: max-content">@ViewBag.Email</h5>
        </div><br />
        <div class="" style="font-size: 20px">
            <h2 style="color:black; font-size:20px; font-family:'Times New Roman'"><em>PhoneNumber</em></h2>
            <h5 style="width: max-content">@ViewBag.PhoneNumber</h5>
        </div>
        <div class="card-body">
            <h2 style="color:black; font-size:20px; font-family:'Times New Roman'"><em>Delivery Address</em></h2>
            <h1 style="width: max-content">@ViewBag.Address</h1>
        </div>
    </div>
    <br />
<div class="col-lg">
    <div class="coler-25">
        <div class="container">

            <div class="notification text-success">
                <h5>
                    FOODEE CART<i class="fa fa-fw fa-shopping-cart"></i><span class="badge" id='newTotalQuantityLabel'></span>
                </h5>
            </div>
            <div class="card-body " id="cart-menu">
            </div>
        </div>
    </div>
</div>
</div>
<div class="col">
    <a asp-controller="Order"  asp-action="Add" class="btn btn-primary mx-2">Payment</a>
</div>


