@model FOODEE.Models.ViewModel.MenuVM.CreateMenuViewModel

@{
    Layout = "_DashboardLayout";

    ViewBag.Title = "Menu";
}

<form asp-action="Add" method="post" enctype="multipart/form-data">

    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">
                Add Menu
            </h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label>Category Name:</label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Enter Menu Name" Required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div><br><br>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label>Description:</label>
                        <input type="text" asp-for="Description" class="form-control" placeholder="Enter Description" Required>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div><br><br>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label>Image:</label>
                        <input type="file" name="files" asp-for="Image" multiple class="form-control" Required>
                        <span class="text-danger"></span><br>
                    </div>
                </div>

                <div class="form-group row justify-content-left">
                    <div class="col">

                        <input type="submit" asp-action="Add" class="btn btn-primary" value="Add">

                    </div>
                </div>


                <div class="col">
                    <a asp-action="Index" class="btn btn-success w-50"><i class="fas fa-sign-out-alt"></i> Back</a>
                </div>

            </div>
        </div>
    </div>
</form>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}