@model List<FOODEE.Models.MenuItem>
@{
    Layout = "_DashboardLayout";
}


<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-4 mb-4 col-lg-4">
                <div class="card">
                    <div class="card-header ">
                        <h5 class="card-title text-center" style="color:blue">@item.Name</h5>

                        <div class="card-body">
                            <div class="card" style="color:hotpink"></div>
                            Item description: @item.Description<br /><br />
                            Item Categories: @item.CreatedAt<br /><br />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

