@model IEnumerable<FOODEE.Models.Menu>
@{
    Layout = "_DashboardLayout";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="" style="color:black">Menus</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Add" style="color:black">
                Add Menu
            </a>
        </div>
    </div>
    <br /><br />

    <div class="container">
        <div class="row">
            @if (Model.Count() > 0)
            {
                @foreach (var menu in Model)
                {
                    <div class="col-4 mb-4 col-lg-4 justify-content-center">
                        <div class="card">
                            <div class="card-header text-center ">
                                <h5><b class="card-title" style="color:black">@menu.Name </b></h5>

                                <div class="card-body">
                                    <div class="card"></div>
                                    <a asp-action="GetMenuItemByMenuId" asp-route-Id="@menu.Id"><img width="200" height="150" src="@menu.Image" /> </a>
                                    <a asp-route-Id="@menu.Id" asp-action="Update" class="btn btn-primary mx-2">
                                        
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                }
            }

            else
            {
                <p> No Menu exists.</p>
            }
        </div>
    </div>
</div>
