@{
    Layout = "_DashboardLayout";
}

@{
    ViewBag.Title = "Cart";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="card w-50">
            <div class="card-header text-center tex-white ">
                <h5 class="text-success ">Complete Order</h5>
            </div>
            <div class="card-body font-weight-light" id="cart-menu">



            </div>
            <a style="color: black; width:100px" asp-area="" class="btn" asp-controller="Order" asp-action="CheckOut">Checkout</a>
            <a style="color: orangered; width:200px" asp-area="" class="btn" asp-controller="Home" asp-action="Index">Continue Shopping</a>
        </div>
    </div>
</div>

<script>
    function numberWithCommas(x) {
        let newNumber = x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        return newNumber
    }

    let comma = document.getElementsByClassName("comma");

    for (var i = 0; i < comma.length; i++) {
        let result = numberWithCommas(comma[i].innerHTML);
        document.getElementsByClassName("comma")[i].innerHTML = result;
    }
</script>