<div class="container">
    <div class="row justify-content-center">
        <div class="card w-50">
            <div class="card-header text-center tex-white ">
                <h5 class="text-success ">Complete Order</h5>
            </div>
            <div class="card-body font-weight-light" id="cart-menu">



            </div>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Continue Shopping</a>
            <a asp-area="" asp-controller="Order" asp-action="Checkout" class="btn btn-dark">Checkout</a>
        </div>
    </div>
</div>
