@model FOODEE.Models.ViewModel.MenuItemVM
@{
    Layout = "_SuperAdminDashboard";
}

@{
    ViewData["Title"] = "Add";
}
<div class="row justify-content-center">
    <div class="card">

        <div class="card-header">
            <h1 class="text-center">Create Products</h1>
        </div>

        <div class="card-body">

            <form method="post" asp-action="Add" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="Menus" class="control-label" placeholder="Pick A Menu"></label>
                    <select asp-for="Menus" class="form-control select2-selection--multiple" asp-items="@ViewBag.Menus" multiple required>
                        <option selected>--Select Menu--</option>
                    </select><br>

                    <input asp-for="Name" class="form-control" placeholder="Enter Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span><br>

                    <input asp-for="Price" class="form-control" placeholder="Fix a price" />
                    <span asp-validation-for="Price" class="text-danger"></span><br>
                    
                    <input asp-for="Image" class="form-control" type="file"/>
                    <span asp-validation-for="Image" class="text-danger"></span><br>

                    <input asp-for="Description" class="form-control" placeholder="Item Description"/>
                    <span asp-validation-for="Description" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-outline-success" />
                </div>

            </form>

        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


